body {
  color: #6a6969;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* Header */

header {
  align-items: center;
  background-color: #fffabe;
  display: flex;
  height: 72px;
  justify-content: space-around;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 60%;
}

.links a {
  font-size: 1.6em;
  color: #515151;
  text-decoration: none;
  text-transform: uppercase;
}

.links a:hover {
  color: #d42551
}

/* Footer */
footer {
  background-color: #df5277;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  width: 100%;
}

footer p {
  color: #ffffff;
  font-size: 1.2em;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.copyright {
  align-self: center;
}

.social-media img {
  margin-left: 10px;
}

/* Images */
.hero-image img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .container {
    min-width: 320px;
    width: 100vw;
  }

  header {
    flex-direction: column;
    justify-content: space-around;
  }

  .links {
    justify-content: space-between;
    padding-left: 0;
    width: 90vw;
  }

  .links li {
    font-size: 2vw;
  }

  .macarons-image {
    display: none;
  }

  .hero-image {
    height: auto;
    width: 100%;
  }

  footer {
    height: auto;
  }

  .contact {
    flex-wrap: wrap;
  }

  .order, .phone {
    text-align: center;
    width: 50%;
  }

  footer .order {
    color: #ffffff;
  }
}